@import url('https://fonts.googleapis.com/css2?family=Alata&family=Roboto:wght@300;400;500;700&display=swap');
// Variáveis
$corBranco: #fff;
$corCinzaAzulado: #314B66;
$corLogoAzul: #3274B7;
$corLogoVerde: #29B552;
$font-family: 'Roboto','Arial', sans-serif;
$tempo-transicao: 10s;
$max-width-conteudo: 1440px;
$max-width-conteudo-med: 940px;
$font-size-24: 24px;
$font-size-14: 14px;
$font-size-20: 20px;
$font-size-30: 30px;
$font-size-96: 96px;
$padding-cont-cham:40px 0;

// Mixin
@mixin font-options($size) {
    font-family: $font-family;
    font-weight: $size;
}

// Estilos gerais
html{
  @include font-options(400);
  color: $corCinzaAzulado;
}

body {
  margin: 0;
  padding: 0;
}

hr{
  width: 100%;
  background: #314B66;
  border: 0;
  height: 2px;
}

// Estilos do menu
.menu {
  background-color: $corBranco;
  display: flex;
  align-items: center;
  padding: 10px;
  .logo {
    font-size: 24px;
    margin-right: 20px;
    flex: auto;
    padding-left: 30px;
  }

  .menu-links {
    flex: auto;
    ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      justify-content: center;

      li {
        margin-left: 20px;
        position: relative;

        a {
          color: $corCinzaAzulado;
          text-decoration: none;
        }

        .submenu {
          display: none;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $corLogoAzul;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          width: 100%;
          padding: 0;
          
          li {
            margin: 0;
            padding: 10px;
            a {
              color: $corBranco;
              text-decoration: none;
            }
            &:hover{
              background: $corCinzaAzulado;
            }
          }
        }

        &:hover .submenu {
          display: block;
        }
      }
    }
  }
  .social{
    flex: auto;
    display: flex;
  }
  .toggle{
      width: 35px;
      .menu-toggle {
        display: table;
        margin-top: 10px;
        width: 25px;
        float: right;
        cursor: pointer;
            
        span {
          background-color: $corCinzaAzulado;
          height: 2px;
          width: 25px;
        }
      }
  }

  .social{
    ul{
      display: flex;
      justify-content: flex-end;
      flex: auto;
      list-style: none;
      li{
        flex: none;
        width: auto;
        display: flex;
        align-items: center;
        padding: 5px;
        span{
          margin-left: 5px;
          display: block;
        }
      }
    }

  }

}

.cont_five_column {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width-conteudo;
  margin: 0 auto;
  justify-content: center;

  .item {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      width: 33.33%; // 2 colunas em telas menores
    }

    @media screen and (max-width: 480px) {
      width: 25%; // 1 coluna em telas ainda menores
    }
  }
}

.cont_four_column {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width-conteudo;
  margin: 0 auto;
  .item {
    width: 25%;
    padding: 10px;
    box-sizing: border-box;

    @media screen and (max-width: 768px) {
      width: 50%; // 2 colunas em telas menores
    }

    @media screen and (max-width: 480px) {
      width: 100%; // 1 coluna em telas ainda menores
    }
  }
}

.cont_three_column {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width-conteudo-med;
  margin: 0 auto;

  .item {
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
  
    @media screen and (max-width: 768px) {
      //width: 50%; // 2 colunas em telas menores
    }
  
    @media screen and (max-width: 480px) {
      width: 100%; // 1 coluna em telas ainda menores
    }
  }
}

.cont_two_column {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width-conteudo-med;
  margin: 0 auto;

  .item {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  
    @media screen and (max-width: 480px) {
      width: 100%; // 1 coluna em telas ainda menores
    }
  }
}

.box-full{
  width: 100%;
  padding: $padding-cont-cham;
  &.verde{
    background: $corLogoVerde;
    .title{
      color: $corBranco;
    }
    .subtitle{
      color: $corBranco;
    }
  }
  &.verde-gradiente{
    background-image: linear-gradient(to top, $corLogoAzul 0%, $corLogoVerde 20%);
    .title{
      color: $corBranco;
    }
    .subtitle{
      color: $corBranco;
    }
  }
  &.azul{
    background: $corLogoAzul;
  }
  .title{
    text-align: center;
    margin: 0 0 10px 0;
  }
  .subtitle{
    text-align: center;
    display: block;
    margin: 0;
  }
}

//Cham Servicos
#chams_servicos{
  background-color: $corLogoVerde;
  color: $corBranco;
  padding: $padding-cont-cham;
  .item{
    display: flex;
    flex-direction: column;
    padding: 0 40px;

    img{
      width: auto;
      margin: 0 auto 10px auto
    }
    h3{
      @include font-options(300);
      font-size: $font-size-24;
      margin: 0 auto;
      max-width: 211px;
    
      p{
        font-size: $font-size-14;
        @include font-options(300);
        margin: 0 auto;
        text-align: justify;
        display: block;
      }
    }
  }
}

//Cham quem somos
#cham_quemsomos{
  background-color: $corBranco;
  color: $corCinzaAzulado;
  padding: $padding-cont-cham;

  h2{
    @include font-options(300);
    text-align: center;
    width: 100%;
    font-size: $font-size-30;
    color: $corLogoAzul;
    margin: 0 0 10px 0;
  }

  p{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
  }

  .item{
    display: flex;
    flex-direction: column;
    padding: 40px;

    img{
      width: auto;
      margin: 0 auto 10px auto
    }
    h3{
      @include font-options(500);
      font-size: $font-size-24;
      margin: 0 auto;
      max-width: 211px;
      text-transform: uppercase;
      text-align: center;
    
      p{
        text-transform: none;
        font-size: $font-size-14;
        @include font-options(300);
        margin: 0 auto;
        text-align: justify;
        display: block;
      }
    }
  }
}
//Cham nossa presenca
#cham_nossa_presenca{
  color: $corBranco;
  padding: 40px 0 10px 0;

  h2{
    @include font-options(500);
    text-align: center;
    width: 100%;
    font-size: $font-size-30;
    margin: 0 0 10px 0;
  }

  p{
    text-align: center;
    display: block;
    width: 100%;
    margin: 0;
  }

  .item{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    h3{
      @include font-options(500);
      font-size: $font-size-96;
      margin: 0 auto;
      max-width: 211px;
      text-transform: uppercase;
      text-align: center;

      span{
        font-size: 64px;
        text-transform: lowercase;
      }
    
      p{
        text-transform: none;
        font-size: $font-size-14;
        @include font-options(700);
        margin: 0 auto;
        text-align: justify;
        display: block;
      }
    }
  }
  hr{
    background: $corBranco;
  }
}

#cham_nossa_principais{
  color: $corBranco;
  padding: 10px 0 40px 0;
  .item{
    display: flex;
    flex-direction: column;
    padding: 20px;

    h3{
      @include font-options(500);
      font-size: $font-size-30;
      margin: 0 auto;
      max-width: 100%;
      text-align: left;
    
      p{
        text-transform: none;
        font-size: $font-size-20;
        @include font-options(400);
        margin: 10px auto;
        text-align: justify;
        display: block;
      }
    }
    &:first-child{
      border-right: 2px solid $corBranco;
    }
  }
}


// Estilos do menu responsivo MENU
@media screen and (max-width: 768px) {

    .menu {

        
        .menu-links {
            display: none;
            flex-direction: column;
            align-items: center;
            
            ul{
                flex-direction: column;
                justify-content: space-between;
            }

            &.show {
            display: flex;
            }

            li {
            margin: 10px 0;
            }

            .has-submenu {
            .submenu {
                display: none;
                position: static;
                background-color: transparent;
                box-shadow: none;

                li {
                a {
                    color: $corCinzaAzulado;
                    text-decoration: none;
                }
                }
            }

            &.show .submenu {
                display: block;
            }
            }
        }
        .toggle{
            
            .menu-toggle {
                display: table;
                margin-top: 10px;
            }
    
            .menu-toggle.active {
                .menu-links {
                display: flex;
                }
            }
    
            .menu-toggle span {
                background-color: $corCinzaAzulado;
                height: 2px;
                width: 25px;
                display: block;
                margin: 5px;
            }
        }
    }
}

// Estilos do slideshow
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;

  .slide {
    display: none;

    &.fade {
      animation: fade $tempo-transicao ease-in-out infinite;
    }

    img {
      width: 100%;
      height: auto;
    }

    .text {
      position: absolute;
      top: 50%;
      margin-top: -100px;
      left: 0;
      color: #fff;
      padding: 10px;
      text-align: center;
    }
  }
}

// Animação do slideshow
@keyframes fade {
  0%, 100% { opacity: 0; }
  20%, 80% { opacity: 1; }
}


#projetos-carousel{
  .carousel-cell {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell;
    &:before {
      display: block;
      text-align: center;
      content: counter(carousel-cell);
      line-height: 200px;
      font-size: 80px;
      color: white;
    }
  }
  .is-selected {
    background: #ED2;
  }

}

.carousel {
  background: #EEE;
}

#header-carousel{
  .carousel-cell {
    width: 100%;
    margin-right: 10px;
    background: $corLogoVerde;
    img{
      width: 100%;
    }
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
}

