@import url("https://fonts.googleapis.com/css2?family=Alata&family=Roboto:wght@300;400;500;700&display=swap");
* {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  color: #314B66;
}

body {
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}
.menu .logo {
  font-size: 24px;
  margin-right: 20px;
  flex: auto;
  padding-left: 30px;
}
.menu .menu-links {
  flex: auto;
}
.menu .menu-links ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
}
.menu .menu-links ul li {
  margin-left: 20px;
  position: relative;
}
.menu .menu-links ul li a {
  color: #314B66;
  text-decoration: none;
}
.menu .menu-links ul li .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #3274B7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 0;
}
.menu .menu-links ul li .submenu li {
  margin: 0;
  padding: 10px;
}
.menu .menu-links ul li .submenu li a {
  color: #fff;
  text-decoration: none;
}
.menu .menu-links ul li .submenu li:hover {
  background: #314B66;
}
.menu .menu-links ul li:hover .submenu {
  display: block;
}
.menu .social {
  flex: auto;
  display: flex;
}
.menu .toggle {
  width: 35px;
}
.menu .toggle .menu-toggle {
  display: table;
  margin-top: 10px;
  width: 25px;
  float: right;
  cursor: pointer;
}
.menu .toggle .menu-toggle span {
  background-color: #314B66;
  height: 2px;
  width: 25px;
}
.menu .social ul {
  display: flex;
  justify-content: flex-end;
  flex: auto;
  list-style: none;
}
.menu .social ul li {
  flex: none;
  width: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}
.menu .social ul li span {
  margin-left: 5px;
  display: block;
}

@media screen and (max-width: 768px) {
  .menu .menu-links {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .menu .menu-links ul {
    flex-direction: column;
    justify-content: space-between;
  }
  .menu .menu-links.show {
    display: flex;
  }
  .menu .menu-links li {
    margin: 10px 0;
  }
  .menu .menu-links .has-submenu .submenu {
    display: none;
    position: static;
    background-color: transparent;
    box-shadow: none;
  }
  .menu .menu-links .has-submenu .submenu li a {
    color: #314B66;
    text-decoration: none;
  }
  .menu .menu-links .has-submenu.show .submenu {
    display: block;
  }
  .menu .toggle .menu-toggle {
    display: table;
    margin-top: 10px;
  }
  .menu .toggle .menu-toggle.active .menu-links {
    display: flex;
  }
  .menu .toggle .menu-toggle span {
    background-color: #314B66;
    height: 2px;
    width: 25px;
    display: block;
    margin: 5px;
  }
}
.slideshow-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.slideshow-container .slide {
  display: none;
}
.slideshow-container .slide.fade {
  animation: fade 10s ease-in-out infinite;
}
.slideshow-container .slide img {
  width: 100%;
  height: auto;
}
.slideshow-container .slide .text {
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 0;
  color: #fff;
  padding: 10px;
  text-align: center;
}

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
